<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand nts-logo" href="#">
    <img src="../assets/images/n_logo.png" width="30" height="30" alt="" />
  </a>
  <a class="navbar-brand navbar-heading" href="#">Neutrino Talent Box</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" (click)="onHomeIconClick()"
          ><i class="bi bi-house-fill"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.linkedin.com/company/neutrinotechsystems/posts/?feedView=all"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.instagram.com/neutrino_tech_systems?igsh=MWI5bDRieWw1eHh5MQ=="
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="triggerFileInput()">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
        <!-- Hidden file input for uploading files -->
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept="image/*,video/*"
          style="display: none"
        />
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto search-field">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Employee"
        aria-label="Search"
      />
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
