.nts-logo {
    margin: 10px;
}

form.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 5px;
}

.search-field {
    margin-left: 74rem;
}

.navbar-heading {
    font-weight: bold;
}