.nts-logo {
    margin: 5px;
}

form.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 5px;
}

.search-field {
    margin-left: 42rem;
}

.navbar-heading {
    font-weight: bold;
}

img,
svg {
    vertical-align: middle;
    margin-left: 10px;
}