.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.password-reset-card {
  max-width: 400px;
  width: 100%;
}

.password-reset-header {
  background-color: #ff7f49;
  color: white;
  font-size: 1.25rem;
}

.password-reset-btn {
  background-color: #ff7f49;
  border: none;
  color: white;

  &:hover {
    background-color: #ff7f49;
  }
}

.password-reset-link {
  color: #ff7f49;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
