
<section class="vh-100 gradient-custom">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center password-reset-card">
      <div class="card-header password-reset-header">Password Reset</div>
      <div class="card-body px-4">
        <p class="card-text py-2">
          Enter your registered email address below, and we'll send you
          instructions to securely reset your password. Please check your inbox
          for the reset link. If you don’t receive the email within a few minutes,
          check your spam folder or try again.
        </p>
        <div class="form-outline">
          <input
            type="email"
            id="typeEmail"
            class="form-control my-3"
            placeholder="Enter your email"
          />
          <label class="form-label visually-hidden" for="typeEmail"
            >Email input</label
          >
        </div>
        <button
          class="btn text-white w-100 password-reset-btn"
          (click)="onUpdation()"
        >
          Reset Password
        </button>
        <div class="d-flex justify-content-between mt-4">
          <a href="#" class="password-reset-link">Login</a>
          <a href="#" class="password-reset-link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>



