.cancel-btn {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 8px;
    border: none;
}

.update-btn {
    background-color: #ff7f49;
    border: none;
    margin-bottom: 8px;
}

.name-label {
    margin-left: 10px;
}

.form-control {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 90%;
}

.text-muted {
    margin-left: 10px;
}