<div class="home-container">
  <div class="sidebar">
    <div class="profile">
      <img src="assets/images/myPic.jpg" alt="User Profile Picture" />
      <h5>Pradip Khandare</h5>
      <p class="user-mail">pradip.khandare&#64;neutrinotechlabs.com</p>
      <div class="stats">
        <div class="stat">
          <p class="number-of-posts">65</p>
          <p class="posts-heading">posts</p>
        </div>
        <div class="stat">
          <p class="number">120</p>
          <p class="label posts-heading">followers</p>
        </div>
        <div class="stat">
          <p class="number">80</p>
          <p class="label posts-heading">following</p>
        </div>
      </div>
    </div>
    <ul class="navigation">
      <li><i class="bi bi-house-fill"></i> Home</li>
      <li><i class="bi bi-person-fill"></i> Profile</li>
      <li><i class="bi bi-star-fill"></i> Favourite</li>
      <li><i class="bi bi-gear-fill"></i> Settings</li>
      <li style="color: #c61118;"><i class="bi bi-box-arrow-right"></i> Logout</li>
    </ul>
  </div>
  <div class="main-content">
    <div class="community-buttons">
      <button class="community-btn">Join Neutrance Community</button>
      <button class="community-btn">Join Neutrino Artistry</button>
      <button class="community-btn">Join Neutrino Sketch Spectrum</button>
      <button class="community-btn">Join Neutrino Harmonic Horizon</button>
      <button class="community-btn">Join Neutrino Dance Dynamics</button>
    </div>
    <div class="new-post-container">
      <textarea [(ngModel)]="newPost" placeholder="What's on your mind?" rows="3"></textarea>
      <div>
        <button (click)="postSkill()">Post</button>
        <input class="post-file" type="file" accept="video/*" (change)="onFileSelected($event, 'video')" />
      </div>

    </div>
    <div class="videos-container">
      <div class="video-item">
        <video width="100%" controls>
          <source src="assets/shorts/short.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-info">
          <h6>Neutrino Octomber Born Celebration</h6>
          <p>Description of the video goes here. It provides a brief overview of the video's content.</p>
          <p><strong>Uploaded by:</strong>Nikhil Jawalkar</p>
          <p><strong>Date:</strong> 2024-12-24</p>
          <div class="video-actions">
            <button><i class="bi bi-hand-thumbs-up"></i> Like</button>
            <button><i class="bi bi-chat"></i> Comment</button>
            <button><i class="bi bi-share"></i> Share</button>
          </div>
        </div>
      </div>
      <div class="video-item">
        <video width="100%" controls>
          <source src="assets/shorts/short2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-info">
          <h6>Neutrino September Born Celebration</h6>
          <p>Description of the video goes here. It provides a brief overview of the video's content.</p>
          <p><strong>Uploaded by:</strong>Pradip Khandare</p>
          <p><strong>Date:</strong> 2024-12-24</p>
          <div class="video-actions">
            <button><i class="bi bi-hand-thumbs-up"></i> Like</button>
            <button><i class="bi bi-chat"></i> Comment</button>
            <button><i class="bi bi-share"></i> Share</button>
          </div>
        </div>
      </div>
    </div>
    <div class="posts-container">
      <div class="post" *ngFor="let post of posts">
        <p>{{ post }}</p>
        <div class="post-actions">
          <button (click)="likePost(post)"><i class="bi bi-hand-thumbs-up"></i> Like</button>
          <button (click)="sharePost(post)"><i class="bi bi-share"></i> Share</button>
          <button (click)="commentOnPost(post)"><i class="bi bi-chat"></i> Comment</button>
        </div>
        <div class="comment-section">
          <textarea [(ngModel)]="comment" placeholder="Write a comment..." rows="2"></textarea>
          <button (click)="commentOnPost(post)">Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>