<!-- bottom-navbar.component.html -->
<div class="bottom-navbar">
    <a routerLink="/home" routerLinkActive="active-link">
        <i class="bi bi-house-fill"></i>
    </a>
    <a routerLink="/random-reels" routerLinkActive="active-link">
        <i class="bi bi-search"></i>
    </a>
    <a routerLink="/add-post" routerLinkActive="active-link">
        <i class="bi bi-plus-circle-fill"></i>
    </a>
    <a routerLink="/profile" routerLinkActive="active-link">
        <i class="bi bi-person-circle"></i>
    </a>
</div>