.gradient-custom-2 {
  /* fallback for old browsers */
  background: #f9743d;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ff7f49);
  color: #ffffff;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ff7f49);
}
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.btn-outline-light {
    border: 2px solid white;  /* Optional: Makes the border a bit thicker */
    color: white;              /* Text color */
    background-color: transparent;
  }
  
  .btn-outline-light:hover {
    background-color: white;  /* Change background on hover */
    color:grey;            /* Change text color on hover */
  }
  