<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="/assets/images/image.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">Pradip Khandare</h5>
                            <h6 class="user-email">pradip.khandare"&#64;"neutrinotechlabs.com</h6>
                        </div>
                        <div class="about">
                            <h6>About</h6>
                            <p>I’m well-versed in a range of programming languages and have expertise in app development
                                and Software development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Edit Bio</h6>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="bio">Tell Us Something About Yourself (No Tech Talk!)</label>
                                <input type="text" class="form-control" id="bio"
                                    placeholder="Your Personal Bio (Leave the code out! 😄)">

                            </div>
                        </div>

                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right cancel-update-btns">
                                <button (click)="onClickOfCancelButton()" type="button" id="submit" name="submit"
                                    class="btn btn-secondary cancel-btn">Cancel</button>
                                <button type="button" id="submit" name="submit" class="btn btn-primary update-btn"
                                    (click)="onClickOfUpdateButton()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>